<!DOCTYPE HTML>
<!--
	Shashishekhar Hasabnis 
	|| BAD
-->
<html>
	<head>
		<title>BAD | Shashishekhar Hasabnis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{{ url_for('home') }}" class="logo"><strong>SHASHISHEKHAR</strong> <span>HASABNIS</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Portfolio</a></li>
							<li><a href="index.html#one">Tech Stack</a></li>
							<li><a href="index.html#two">Projects</a></li>
							<li><a href="index.html#contact">Contact</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{{ url_for('downloadResume') }}" class="button primary fit">Download Resume</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Blend All Databases (BAD Tool)</h2>
									</header>
									<span class="image main"><img src="/static/images/pic20.jpg" alt="" /></span>
									<p>Data blending is the process of combining data from multiple sources into a single, actionable dataset.  With additional information from a secondary data source combined with data from the primary source, you see everything in one view. The process allows to gather insights from various sources and analyze them more deeply. </p>
									<p>This tool also allowed to blend data from relational databases and non relational databases simultaneously. </p>
                                    <p>Following Databases were Supported:-</p>
                                    <ol>
                                        <li>MongoDB</li>
                                        <li>MariaDB</li>
                                        <li>Postgres</li>
                                        <li>MySql</li>
                                        <li>Microsoft SQL Server</li>
                                        <li>Oracle Database</li>
                                        <li>SQLite</li>
                                        <li>CouchDB</li>
                                    </ol>
								</div>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; 2025</li><li>Design: <a href="">Shashishekhar Hasabnis</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>