<!DOCTYPE HTML>
<!--
	Shashishekhar Hasabnis 
	|| YupBot
-->
<html>
	<head>
		<title>YupBot | Shashishekhar Hasabnis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{{ url_for('home') }}" class="logo"><strong>SHASHISHEKHAR</strong> <span>HASABNIS</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Portfolio</a></li>
							<li><a href="index.html#one">Tech Stack</a></li>
							<li><a href="index.html#two">Projects</a></li>
							<li><a href="index.html#contact">Contact</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{{ url_for('downloadResume') }}" class="button primary fit">Download Resume</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>YupBot</h2>
									</header>
									<span class="image main"><img src="/static/images/pic13.jpg" alt="" /></span>
									<p>This site was created to provide SAAS (Software as A Service) to clients. You
                                        can use the plugin in any site to provide support to the customers using the chatbots.
                                        This service can be in the form of TEXT as well as SPEECH. The other use case of these
                                        chatbots can be done to get reviews or public insights. The surveyor can keep track of
                                        which questions were responded the most or who answered which questions or can
                                        even go through the chat history on his dashboard.</p>
                                    <p>Technologies Used:-</p>
                                    <ol>
                                        <li> Python</li>
                                        <li> Django </li>
                                        <li> Django Rest Framework</li>
                                        <li> NLP</li>
                                        <li> Speech Recognition</li>
                                        <li> JavaScript</li>
                                        <li> JQuery</li>
                                        <li> ChartJS</li>
                                        <li> Bootstrap</li>
                                        <li> Postgresql</li>
                                        <li> MongoDB</li>
                                        <li> SQL Alchemy</li>
                                    </ol>
                                </div>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; 2025</li><li>Design: <a href="">Shashishekhar Hasabnis</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>